.texto-con-fondo {
    background-color: #f2e9e4 ;
    padding: 20px;              
    border-radius: 8px;         
    height: 100%;                
    display: flex;
    justify-content: center; 
    align-items: center;  
         
  }
  
  .container-fluid {
    display: flex;
    align-items: stretch;
  }
 .aboutUs-text {
    font-size: 1rem; 
    line-height: 1.2;
    color: #0a0909;
  }

  .custom-bg {
    background-color:  #847d9c;
  }